@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

::selection {
  color: #ffffff;
  background-color: #463526;
}

body {
  margin: 0;
  background-color: #463526;
  height: 100vh;
  overflow: hidden;
  font-family: Pretendard, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  font-weight: 500;
  font-size: 16px;
  word-break: keep-all;
}

body.sub {
  background-color: #ffffff;
}

body a {
  text-decoration: none;
}

.main-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
  box-sizing: border-box;
}

.main-background {
  background-image: url('images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  color: #f25100;
  box-sizing: border-box;
  height: 100%;
  border-right: 1px solid #f25100;
}

.left h1 {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #f25100;
  padding: 20px;
  box-sizing: border-box;
}

.left h1 span {
  display: inline-block;
  color: #f25100;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.header {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header li {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.025em;
  color: #f25100;
  padding: 10px 20px;
  border-bottom: 1px solid #f25100;
}

.header li a {
  color: #f25100;
  display: block;
}

.header li:hover {
  background-color: #f25100;
}

.header li:hover a {
  color: #8ce2ff;
}

.header.sub li:hover {
  background-color: #8ce2ff;
}

.header.sub li:hover a {
  color: #f25100;
}

.header.sub li.on {
  background-color: #8ce2ff;
}

.footer {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 300;
  margin-top: auto;
  width: 100%;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
}

.footer p {
 margin: 0 0 24px 0; 
}

.footer p span {
  letter-spacing: -0.025em;
  display: block;
}

.footer ul.link-icon {
  display: flex;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul.link-icon li{
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.footer ul.link-icon li a {
  display: inline-flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.right {
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
